<h1>Collection</h1>
<p>Edit collection</p>

<h2> <%= @collection.name %></h2>

<% if @collection.errors.any? %>
  <div>
    <h2>Error:</h2>
    <ul>
    <% @collection.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div>
    <%= form_with model: @collection, local: true, method: :patch, url: collection_path(@collection) do |f| %>

      <%- collections_topics_lookup = @collection
        .collections_topics
        .reduce({}) {|memo, ct|
          memo[ct.topic_id] = ct.id
          memo
        } %>

      <%= f.label :name %>
      <%= f.text_field :name, id: 'collection_name' %>

      <% @collection.topics.each_with_index do |topic, index| %>

      <%- collections_topic_id = collections_topics_lookup.fetch(topic.id, '') %>

      <%= hidden_field_tag "collection[collections_topics_attributes][#{index}][_destroy]", 1, id: "hidden-destroy-#{topic.id}" %>

      <%= check_box_tag "collection[collections_topics_attributes][#{index}][_destroy]", 0, collections_topic_id.present? %>

      <%= label_tag "collection[collections_topics_attributes][#{index}][_destroy]", topic.name %>

      <%= hidden_field_tag "collection[collections_topics_attributes][#{index}][id]", collections_topic_id %>

      <%= hidden_field_tag "collection[collections_topics_attributes][#{index}][topic_id]", topic.id %>

      <%= hidden_field_tag "collection[collections_topics_attributes][#{index}][collection_id]", @collection.id %>

      </br>

    <% end %>

    <%= f.submit 'Update' %>

  <% end %>
</div>

