<section>
  <h1>Topic:</h1>

  <h2> <%= @topic.name %></h2>
  <p> Author: <%= @topic.user.username %> </p>

  </br>

  <% if @topic.errors.any? %>
    <div>
      <h2>Error:</h2>
      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  </br>

  <% if @topic.user == current_user %>
    <%= button_to 'Delete Topic', topic_path(@topic), method: :delete, data: { confirm: "Are you sure?" } %>
    <%= link_to 'Edit Topic', edit_topic_path(@topic.id) %>
  <% end %>

  </br>

  <%= render "collections_topics/manage_collections_topics_form" %>

  <%= link_to 'Back to topics page', topics_path %>

</section>
